In [13]:
%load_ext numpy_html

In [15]:
%%html
<style>
table {margin-top: 16pt;}
td {font-family: Arial, Helvetica, sans-serif !important; font-weight: 600; white-space: normal !important;}
tr:nth-child(even) {background: #b0d9eb !important; color: black}
tr:nth-child(odd) {background: #8fb1bf !important; color: black}
</style>

In [1]:
import numpy as np

In [3]:
# generate numbers from 0 to 9
data = np.arange(0, 10)

In [4]:
data

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
# you can also provide a 3rd parameter
# step size => you can generate an array of numbers
# while skipping values!
data = np.arange(0, 20, 4)
data

array([ 0,  4,  8, 12, 16])

In [7]:
numbers = [5, 7, 8, 3, 8, 9]
data = np.array(numbers)
data

array([5, 7, 8, 3, 8, 9])

In [10]:
day_1 = [-15, -29, -31, -25, -20]
day_2 = [-5, -7, -8, -2, 0]
day_3 = [3, 5, 1, -3, -9]
temperatures = [day_1, day_2, day_3]

data = np.array(temperatures)
data

array([[-15, -29, -31, -25, -20],
       [ -5,  -7,  -8,  -2,   0],
       [  3,   5,   1,  -3,  -9]])

In [14]:
data

array([[-15, -29, -31, -25, -20],
       [ -5,  -7,  -8,  -2,   0],
       [  3,   5,   1,  -3,  -9]])

In [16]:
data = np.zeros(5)
data

array([0., 0., 0., 0., 0.])

In [17]:
data = np.ones(5)
data

array([1., 1., 1., 1., 1.])

In [18]:
data = np.ones((4, 4))
data

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [19]:
data = np.zeros((4, 4)).astype(int)
data

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])